.App {
  text-align: center;
  background-image: url("images/scribble_light.png");
}

nav{
  background-color: #4CAF50;
}

#root, .App{
  min-height: 100vh;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 10vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  height: 100%;
  padding-top: 15px;
  /*background-color: #f8f9fa;*/
}

.country-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.country-container{
  height: 100%;
  width: fit-content;
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  color: #302929;
  background: gainsboro;
  min-width: 300px;
}

.form-country{
  display: flex;
  justify-content: space-around;
  width: 28%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.section-button-play{
  margin-top: 60px;
}
.section-button-play button{
  width: 100px;
  height: 50px;
  font-size: 21px;
  font-weight: 600;
}
.section-play-buttons{
  display: flex;
  justify-content: space-around;
  height: 46px;
}
.section-play-buttons button{
  width: 90px;
}